#slider{
    width: 100%;
    text-align: center;
    position: relative;
    height: 20px;
    margin-bottom: 20px;
}

#slider h2{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.06em;
    color: #2b2b2b;
    margin:0 0 25px;
}

#prev_arrow{
    position: absolute;
    top: 10px;
    left: 5px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

#prev_arrow img{
    width: 100%;
    height: 100%;
}

#next_arrow{
    position: absolute;
    top: 10px;
    right: 5px;
    transform: translateY(-50%) rotate(180deg);
    width: 20px;
    height: 20px;
}

#next_arrow img{
    width: 100%;
    height: 100%;
}

/*
#slider::before{
    position: absolute;
    top: 10px;
    left: 5px;
    content:'';
    display: inline-block;
    width: 24px;
    height:24px;
    background-image:url(file/arrow_back.svg);
    background-size: contain;
    transform: translateX(0%) translateY(-50%);
}

#slider::after{
    position: absolute;
    top: 10px;
    right: 5px;
    content:'';
    display: inline-block;
    width: 24px;
    height:24px;
    background-image:url(file/arrow_back.svg);
    background-size: contain;
    transform: translateX(0%) translateY(-50%) rotate(180deg);
}
*/

.js_hidden{
    display: none;
}

.ticket{
    width: 100%;
    height: 80px;
    background-image: linear-gradient(136deg, rgba(128, 182, 190, 1) 9%, rgba(19, 84, 122, 1) 95%);
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    padding: 0;
    position: relative;
}

.ticket h3{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #ffffff;
    line-height: 24px;
    margin:0;
    position: absolute;
    top: 40px;
    left: 18px;
    transform: translateY(-50%);
}

.button_container{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.button_container button{
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.10em;
    margin: 0 3px;
}


.group_ticket{
    width: 100%;
    height: 70px;
    background-image: linear-gradient(136deg, rgba(128, 182, 190, 1) 9%, rgba(19, 84, 122, 1) 95%);
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    padding: 0;
    position: relative;
}

.group_ticket h2{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #ffffff;
    line-height: 18px;
    margin:0;
    position: absolute;
    top: 35px;
    left: 20px;
    transform: translateY(-50%);
}

.group_ticket p{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #ffffff;
    line-height: 18px;
    margin: 5px 0;
}

.datetime_container{
    position: absolute;
    top: 35px;
    right: 18px;
    transform: translateY(-50%);
}

.reserved_ticket{
    background-image: linear-gradient(136deg, rgba(128, 182, 190, 1) 9%, rgba(19, 84, 122, 1) 95%);
    border: none;
    border-radius: 12px;
    position: relative;
    height: 140px;
    margin: 12px 0;
}

.ticket_left{
    position: absolute;
    width: 30vw;
    height: 100px;
    left: 5vw;
    top: 5vw;
}

.ticket_right{
    position: absolute;
    width: 40vw;
    height: 100px;
    left: 35vw;
    top: 5vw;
}

p.ticket_top{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #E1E1E1;
    margin:0;
}

h3.ticket_top{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.18em;
    color: #ffffff;
    margin:6px 6px 0;
}

p.ticket_bottom{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #E1E1E1;
    margin:22px 0 0;
}

h3.ticket_bottom{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.18em;
    color: #ffffff;
    margin:6px 6px 0;
}

.smallLetter{
    font-size: 14px!important;
}