#backToTop{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #767676;
    margin-left: 2px;
    position: relative;
}

#backToTop::before{
    content: '';
    background-image: url("img/arrow_back_ios_FILL.svg");
    width: 16px;
    height: 16px;
    background-size: cover;
    position: absolute;
    left: -12px;
}

#content_1 h2{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.08em;
    color: #2a2a2a;
    margin:0 0 20px;
}


.ticket{
    background-color: #E4F9F5;
    border: 0px black solid;
    border-radius: 12px;
    position: relative;
    height: 170px;
}

.ticket::before{
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    transform: translateX(-50%) translateY(-50%);
    top: 0px;
}

.ticket::after{
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    transform: translateX(-50%) translateY(50%);
    bottom: 0px;
}

.ticket_left{
    position: absolute;
    width: 30vw;
    height: 100px;
    left: 5vw;
    top: 5vw;
}

.ticket_right{
    position: absolute;
    width: 40vw;
    height: 100px;
    left: 35vw;
    top: 5vw;
}

p.ticket_top{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #8A8A8A;
    margin:0;
}

h3.ticket_top{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.18em;
    color: #2A2A2A;
    margin:6px 6px 0;
}

p.ticket_bottom{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #8A8A8A;
    margin:22px 0 0;
}

h3.ticket_bottom{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.18em;
    color: #2A2A2A;
    margin:6px 6px 0;
}

.smallLetter{
    font-size: 14px!important;
}

.submit_button{
    position: absolute;
    left: 5vw;
    top: 125px;
    width: 70vw;
    height: 26px;
    border-radius: 50px;
    border: none;
    background-color: #11999E;
    color: #E4F9F5;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.12em;
}


.caution{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    color: #383838;
    position: relative;
    margin:30px 0 30px 37px ;
}

#caution_1::before{
    position: absolute;
    top: 0px;
    left: -37px;
    content:'';
    display: inline-block;
    width: 28px;
    height:28px;
    background-image:url(img/tools_power_dril.svg);
    background-size: contain;
	vertical-align: middle;
}

#caution_2::before{
    position: absolute;
    top: -6px;
    left: -37px;
    content:'';
    display: inline-block;
    width: 28px;
    height:28px;
    background-image:url(img/block_FILL0.svg);
    background-size: contain;
	vertical-align: middle;
}

#caution_3::before{
    position: absolute;
    top: 0px;
    left: -37px;
    content:'';
    display: inline-block;
    width: 28px;
    height:28px;
    background-image:url(img/palette_FILL0.svg);
    background-size: contain;
	vertical-align: middle;
}

#caution_4::before{
    position: absolute;
    top: 0px;
    left: -37px;
    content:'';
    display: inline-block;
    width: 28px;
    height:28px;
    background-image:url(img/palette_FILL0.svg);
    background-size: contain;
	vertical-align: middle;
}