.caution{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #2a2a2a;
    position: relative;
    margin:35px 0 0 37px ;
}

#caution_1::before{
    position: absolute;
    top: -6px;
    left: -37px;
    content:'';
    display: inline-block;
    width: 28px;
    height:28px;
    background-image:url(file/icon_1.svg);
    background-size: contain;
	vertical-align: middle;
}

#caution_2::before{
    position: absolute;
    top: -6px;
    left: -37px;
    content:'';
    display: inline-block;
    width: 28px;
    height:28px;
    background-image:url(file/icon_2.svg);
    background-size: contain;
	vertical-align: middle;
}

#caution_3::before{
    position: absolute;
    top: -6px;
    left: -37px;
    content:'';
    display: inline-block;
    width: 28px;
    height:28px;
    background-image:url(file/icon_3.svg);
    background-size: contain;
	vertical-align: middle;
}

#description{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 9.5px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #838383;
    position: relative;
    margin:25px 0 0;
}

#content_2 h2{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #2a2a2a;
    margin:0 0 20px;
}

#content_2 table{
    text-align: center;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.045em;
    
}

#content_2 th,td{
    width: 11.5vw;
    padding: 0;
}

#week th{
    font-weight: 500!important;
    color: #11999E!important;
}

#content_2 th{
    height: 20px;
    color: #888888;
}

#content_2 td{
    height: 11.5vw;
    color: #0F0F0F;
}

.calendar_today {
    border-radius: 7vw;
    background-color: #222222;
    color: #ffffff !important;
}

.calendar_lastMonth {
    color: #A3A3A3 !important;
}

.calendar_unavailable { 
    color: #A3A3A3 !important;
    text-decoration: line-through;
    text-decoration-thickness: 2px ;
}

#content_2 a{
    display: block;
}

.reserved_ticket{
    background-color: #E4F9F5;
    border: 0px black solid;
    border-radius: 12px;
    position: relative;
    height: 170px;
    margin: 12px 0;
}

.reserved_ticket::before{
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    transform: translateX(-50%) translateY(-50%);
    top: 0px;
}

.reserved_ticket::after{
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    transform: translateX(-50%) translateY(50%);
    bottom: 0px;
}

.ticket_left{
    position: absolute;
    width: 30vw;
    height: 100px;
    left: 5vw;
    top: 5vw;
}

.ticket_right{
    position: absolute;
    width: 40vw;
    height: 100px;
    left: 35vw;
    top: 5vw;
}

p.ticket_top{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #8A8A8A;
    margin:0;
}

h3.ticket_top{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.18em;
    color: #2A2A2A;
    margin:6px 6px 0;
}

p.ticket_bottom{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #8A8A8A;
    margin:22px 0 0;
}

h3.ticket_bottom{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.18em;
    color: #2A2A2A;
    margin:6px 6px 0;
}

.smallLetter{
    font-size: 14px!important;
}

.submit_button{
    position: absolute;
    left: 5vw;
    top: 125px;
    width: 70vw;
    height: 26px;
    border-radius: 50px;
    border: none;
    background-color: #11999E;
    color: #E4F9F5;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.12em;
}

.submit_button_disabed{
    position: absolute;
    left: 5vw;
    top: 125px;
    width: 70vw;
    height: 26px;
    border-radius: 50px;
    border: none;
    background-color: #7E7E7E;
    color: #E4F9F5;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.12em;
}

#ticket_list h4{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #2A2A2A;
    margin:6px 0 0;
}

#modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008a;
    display: none;
}

#modal_content{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 0px black solid;
    border-radius: 15px;
    background-color: white;
    width: 80vw;
    padding: 18px 5vw;
    margin:0 0 35px;
}

#modal_content h1{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #2b2b2b;
    margin:0 0 25px;
}

#modal_content h2{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.08em;
    color: #2a2a2a;
    margin:0 0 20px;
}

#modal_content button{
    width: 80vw;
    height: 26px;
    border-radius: 50px;
    border: none;
    background-color: #11999E;
    color: #E4F9F5;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.12em;
    margin: 10px 0 5px;
}