.content form{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #505050;
    letter-spacing: 0.050em;
}

#select_holder{
    margin-top: 25px;
}

.holder{
    margin: 15px 0;
}

select{
    margin-top: 5px;
    display: block;
    padding: 2px;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #40514E;
    background-color: #E4F9F5;
    letter-spacing: 0.025em;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

#textbox{
    margin-top: 5PX;
    display: block;
    padding: 2px;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #40514E;
    background-color: #E4F9F5;
    letter-spacing: 0.025em;
    width: 100%;
    outline: none;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

#submit{
    color: white;
    width: 80vw;
    height: 28px;
    border-radius: 50px;
    border: none;
    background-color: #11999E;
    color: #E4F9F5;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.12em;
}